.display{
    text-align: center;
    border:3px white;
    height: 100px;
    width:90%;
    margin:auto;
    padding:7px 8px;
    border-radius: 10px;
    box-shadow: 1px 2px 5px;
    background-color: rgb(255, 248, 240);
    margin-bottom: 10px;
    margin-top: 10px;
}

.body{
    text-align: center;
    background-color:black;
    box-shadow: 2px 3px 5px;
    width:250px;
    margin:auto;
    margin-top: 20px;
    border-radius: 10px;

}
button{
    font-size: 2em;
    margin:3px;
    padding:10px 13px;
    border-radius: 20px;
    border:none;
    background-color: rgb(38, 189, 216);
    cursor: pointer;
    color:white;
}
button:hover{
    background-color:#0f0 ;
    font-size:1.85em;
}
#input{
    font-size: 1.25em;
    border:none;
    width:80%;
    text-align: center;
    margin-top: 20px;
    background-color: rgba(128, 128, 128, 0.575);

}
#result{
    border:3px solid;
}